<ion-view title="Home" hide-nav-bar="true" id="page4">
  <ion-content padding="true" style="background: url(img/KLF8i88rRpKMxlutVQ5R_abstractChalice.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <h1 id="home-heading6" style="color:#000000;font-weight:600;font-style:italic;text-align:center;">Chalice</h1>
    <div class="spacer" style="width: 300px; height: 465px;"></div>
    <h4 id="home-heading7" style="color:#000000;text-align:right;">by Mark Cameron Jones</h4>
    <a ui-sref="menu()" id="home-button12" style="color:#C9CEBD;" class="button button-stable button-block">Menu</a>
  </ion-content>
</ion-view>