<ion-view title="Login" hide-nav-bar="true" id="page2" style="background-color:#020300;">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div class="spacer" style="width: 300px; height: 153px;"></div>
    <form id="login-form1" class="list">
      <ion-list id="login-list1">
        <label class="item item-input" id="login-input1">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="login-input2">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <button id="login-button7" style="color:#C9CEBD;" class="button button-stable button-block">Log in</button>
      <a ui-sref="signup()" id="login-button8" style="color:#C9CEBD;" class="button button-stable button-block button-clear">Or create an account</a>
    </form>
    <div id="login-button-bar4" class="button-bar">
      <a ui-sref="home()" id="login-button26" style="color:#C9CEBD;" class="button button-stable button-block icon ion-ios-home"></a>
      <a ui-sref="menu()" id="login-button27" style="color:#C9CEBD;" class="button button-stable button-block icon ion-android-menu"></a>
      <a ui-sref="sample()" id="login-button28" style="color:#C9CEBD;" class="button button-stable button-block icon ion-ios-book"></a>
    </div>
  </ion-content>
</ion-view>