<ion-view title="Menu" hide-nav-bar="true" id="page5" style="background-color:#020300;">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div class="spacer" style="width: 300px; height: 92px;"></div>
    <a ui-sref="home()" id="menu-button10" class="button button-assertive button-block icon ion-ios-home"> Home</a>
    <a ui-sref="sample()" id="menu-button11" class="button button-assertive button-block icon ion-ios-book"> Novel Sample</a>
    <a ui-sref="aboutTheAuthor()" id="menu-button13" class="button button-assertive button-block icon ion-android-person"> About the Author</a>
    <a ui-sref="purchase()" id="menu-button14" class="button button-assertive button-block icon ion-ios-cart"> Purchase</a>
    <a ui-sref="login()" id="menu-button15" class="button button-assertive button-block icon ion-log-in"> Log In</a>
    <a ui-sref="signup()" id="menu-button16" class="button button-assertive button-block icon ion-log-in"> Sign Up</a>
  </ion-content>
</ion-view>