<ion-view title="Purchase" hide-nav-bar="true" id="page6">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <ion-list id="purchase-list3">
      <ion-item class="item-thumbnail-left" id="purchase-list-item1" href-inappbrowser="www.amazon.com">
        <img src="img/wWm6JXoaQaiHQFY7lyf6_kindle.png">
        <h2>Amazon</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="purchase-list-item2" href-inappbrowser="www.barnesandnoble.com">
        <img src="img/S7ul3yJVQ7aZsUxsR46M_nook.png">
        <h2>Barnes And Noble</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="purchase-list-item3" href-inappbrowser="https://www.apple.com/ibooks/">
        <img src="img/NoDffdx4Qhmrhrwh0ZYP_ibook.png">
        <h2>iBook</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="purchase-list-item4" href-inappbrowser="https://play.google.com/books">
        <img src="img/1fFFpHahRCG8S70ggjXn_googlePlayLogo.png">
        <h2>Google Play</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="purchase-list-item5" href-inappbrowser="https://www.kobo.com/">
        <img src="img/1WVMt3txR5OSkxtW5uy1_kobo.png">
        <h2>Kobo</h2>
      </ion-item>
    </ion-list>
    <div id="purchase-button-bar3" class="button-bar">
      <a ui-sref="home()" id="purchase-button23" style="color:#C9CEBD;" class="button button-stable button-block icon ion-ios-home"></a>
      <a ui-sref="menu()" id="purchase-button24" style="color:#C9CEBD;" class="button button-stable button-block icon ion-android-menu"></a>
      <a ui-sref="sample()" id="purchase-button25" style="color:#C9CEBD;" class="button button-stable button-block icon ion-ios-book"></a>
    </div>
  </ion-content>
</ion-view>