<ion-view title="Sample" hide-nav-bar="true" id="page1">
  <ion-content padding="true" style="background: url(img/lF5z3dtHSomAjSISVS8e_abstractChalice.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <h1 id="sample-heading1" style="color:#000000;font-style:italic;text-align:center;">Chalice</h1>
    <h5 id="sample-heading28" style="color:#000000;text-align:right;">by Mark Cameron Jones</h5>
    <ion-slides disable-side-menu-drag="" options="{'loop': false}" slider="slider1" delegate-handle="slider1" id="sample-slider1" style="width:100%;height:460px;">
      <ion-slide-page id="sample-slide24" style="background:url(&quot;img/7ofAiWAfQSGhl6Zm0b2S_paper.png&quot;) no-repeat center;background-size:cover;background-color:#F8F8F0;" class="page padding">
        <h4 id="sample-heading2" style="color:#000000;text-align:center;">Prologue to The Prologue</h4>
        <h3 id="sample-heading3" style="color:#000000;font-style:italic;text-align:center;">The Destroyer's Will</h3>
        <div id="sample-markdown2" class="show-list-numbers-and-dots">
          <p style="color:#000000;font-size:20px;">All that was evil followed a man by the name of Sabot. He walked upon earth in the same days as did his antithesis, Jesus Christ.</p>
        </div>
        <div id="sample-markdown3" class="show-list-numbers-and-dots">
          <p style="color:#000000;font-size:20px;">While Christ spoke of peace and healing: Sabot spoke of war and disease. While Christ prepared and gave sermons on mountain tops; Sabot spoke in whispers deep within the darkest of caverns. While Christ drew the little children to him; Sabot
            despised their innocence and their smiles. Both were men of purpose, both were men of power and both were kings.</p>
        </div>
      </ion-slide-page>
      <ion-slide-page id="sample-slide25" style="background:url(&quot;img/NCsWTvImT7GX7OLTpR1P_paper.png&quot;) no-repeat center;background-size:cover;">
        <div id="sample-markdown5" class="show-list-numbers-and-dots">
          <p style="color:#070000;font-size:20px;">Christ was hated by the people he loved and was crucified. Sabot was loved by the people he hated and died an old man. They died on the same day.</p>
        </div>
        <div id="sample-markdown4" class="show-list-numbers-and-dots">
          <p style="color:#000000;font-size:20px;">On the eve of their deaths, feasts were prepared by their followers. Christ held and raised the golden chalice, (which would become known as the Holy Grail), and said, "This is my blood, drink it all of you," and as the men drank the wine, the
            covenant between God and man was sealed for eternity.</p>
        </div>
        <div id="sample-markdown6" class="show-list-numbers-and-dots">
          <p style="color:#000000;font-size:20px;">In the darkness of a catacomb, Sabot raised the golden chalice, (which would become known as The Destroyer's will) , and said, "This is the blood of man, drink of it," and as the men drank the sacrificial offering, the covenant between evil
            and man was sealed for eternity.</p>
        </div>
      </ion-slide-page>
      <ion-slide-page id="sample-slide26" style="background:url(&quot;img/adhufCeSu2PQr0MrsCYA_paper.png&quot;) no-repeat center;background-size:cover;">
        <div id="sample-markdown1" class="show-list-numbers-and-dots">
          <p style="color:#000000;font-size:20px;">After their deaths, the Holy Grail was lost to history; never to be recovered. The Destroyer's will gained purpose and was protected, for evil was not afraid. The remaining chalice was to be used as a signal, a call, to bring out those who followed
            for a convergence of their powers and the destruction of man. The chalice was pure evil. Its purpose and scope had never been contaminated by hesitation or doubt.</p>
        </div>
        <div id="sample-markdown7" class="show-list-numbers-and-dots">
          <p style="color:#000000;font-size:20px;">The chalice was passed down from father to bastard son, throughout the centuries, for use in only such rituals: the black feasts of death which called forth the Destroyer.</p>
        </div>
      </ion-slide-page>
      <ion-slide-page id="sample-slide21" style="background:url(&quot;img/q3PR9gPTVCZLTSa2q0zA_paper.png&quot;) no-repeat center;background-size:cover;">
        <h3 id="sample-heading5" style="color:#000000;text-align:center;">(2)</h3>
        <div id="sample-markdown8" class="show-list-numbers-and-dots">
          <p style="color:#000000;font-size:20px;">The smell of burning bodies was carried by the night's breeze. It was a heavy and sweet scent which filled one's lungs with despair. Sabot had been dead for over one hundred years. And now, for the first time since the chalice had first held
            blood, it was to be used once again.</p>
        </div>
        <div id="sample-markdown9" class="show-list-numbers-and-dots">
          <p style="color:#000000;font-size:20px;">The victims of the fire, those who had been the necessary sacrifice, were being thrown into hand carts and transported for a more complete burning at the edge of the village.</p>
        </div>
        <div id="sample-markdown10" class="show-list-numbers-and-dots">
          <p style="color:#000000;font-size:20px;">The albino, known only as Partee, son of no one—~for no man had ever publicly claimed him as his blood-~stood and surveyed the destruction. He had done well and as his father would have wished. He held out his left hand, </p>
        </div>
      </ion-slide-page>
      <ion-slide-page id="sample-slide23" style="background:url(&quot;img/T2Yvxyn9SgCsgAlzPgit_paper.png&quot;) no-repeat center;background-size:cover;">
        <div id="sample-markdown12" class="show-list-numbers-and-dots">
          <p style="color:#000000;">and in his right was a knife. Partee dragged the blade across the flesh of his palm and the blood ran freely. He dropped the knife and picked up the chalice and allowed his blood to drain into the golden goblet. He watched this with fascination
            and little pain. Soon he was completely transfixed upon the drops of blood which were now filling the chalice. In this state he did not notice that others had begun to join him on top of the hill. There were no introductions, and no words
            were spoken. Soon there were three, then six and finally thirteen. They all sat in a circle surrounding Partee. The albino finished filling the goblet and slowly raised his eyes to those who had gathered around him.</p>
        </div>
      </ion-slide-page>
      <ion-slide-page id="sample-slide27" style="background:url(&quot;img/YRl6c5lQPWADpUBhqipL_paper.png&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="sample-slide28" style="background:url(&quot;img/95imr6z3SFTqlrLU1WMH_paper.png&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="sample-slide29" style="background:url(&quot;img/i0BALZS3RqeKeRa2dsfA_paper.png&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="sample-slide211" style="background:url(&quot;img/VeiaFTYxSVWqGfsbdulI_paper.png&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="sample-slide212" style="background:url(&quot;img/Lfsr4cRPSk6OvN5OuDNd_paper.png&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="sample-slide213" style="background:url(&quot;img/DIL9jdshRXSTvBAKNXOA_paper.png&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="sample-slide214" style="background:url(&quot;img/gsiE9hNLTZefSDbYqNQj_paper.png&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="sample-slide215" style="background:url(&quot;img/cLHiJFrSYaseSMQ0qkQd_paper.png&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="sample-slide216" style="background:url(&quot;img/904D53cBRXaYUusPi7Ix_paper.png&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="sample-slide217" style="background:url(&quot;img/zpweVE5sRwKXqcQ02ZMD_paper.png&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="sample-slide218" style="background:url(&quot;img/YpTPsiXXT9KJ6aUxYMDs_paper.png&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="sample-slide219" style="background:url(&quot;img/4jRkUXfRJKnQWgCfKGGP_paper.png&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="sample-slide220" style="background:url(&quot;img/QbD4IyLUTS2f61KGfERi_paper.png&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="sample-slide221" style="background:url(&quot;img/rGwSwcyORcmipJTCjLXI_paper.png&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="sample-slide222" style="background:url(&quot;img/UgCDaCGVQyirhOB3VtYj_paper.png&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="sample-slide223" style="background:url(&quot;img/YQaa34JwTCuZwnuD89tC_paper.png&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="sample-slide224" style="background:url(&quot;img/1qo695xhQWmTcbj25hgI_paper.png&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="sample-slide225" style="background:url(&quot;img/Sa57gQopTxWmn018ELIY_paper.png&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="sample-slide226" style="background:url(&quot;img/kX4fgXygRJqRGxB6Cwl8_paper.png&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <div id="sample-button-bar1" class="button-bar">
      <a ui-sref="home()" id="sample-button4" style="color:#C9CEBD;" class="button button-stable button-block icon ion-ios-home"></a>
      <button id="sample-button5" style="color:#C9CEBD;" class="button button-stable button-block icon ion-bookmark"></button>
      <a ui-sref="purchase()" id="sample-button6" style="color:#C9CEBD;" class="button button-stable button-block icon ion-ios-cart"></a>
    </div>
  </ion-content>
</ion-view>