<ion-view title="Signup" hide-nav-bar="true" id="page3">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <form id="signup-form2" class="list">
      <div class="spacer" style="height: 100px;"></div>
      <div id="signup-markdown13" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#C9CEBD;">Inform me when published books go on sale</p>
      </div>
      <ion-toggle toggle-class="toggle-stable" id="signup-toggle3">Sales</ion-toggle>
      <div id="signup-markdown11" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#C9CEBD;">Inform me when new books are published</p>
      </div>
      <ion-list id="signup-list2">
        <ion-toggle toggle-class="toggle-stable" id="signup-toggle1">New Books</ion-toggle>
        <label class="item item-input" id="signup-input3">
          <span class="input-label">Name</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="signup-input4">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
      </ion-list>
      <button id="signup-button9" style="color:#C9CEBD;" class="button button-stable button-block">Sign up</button>
    </form>
  </ion-content>
</ion-view>